* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.active {
  background-color: #747474;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.main-page{
  min-height: 100vh;
}

.App {
  text-align: center;
  flex: 1; 
}

.App-header {
  background-color: #282c34;
  min-height: 15%;
  font-size: 1rem;
  color: white;
}

.navigation-bar {
  display: flex;
  border-bottom: 1px solid whitesmoke;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; 
}

.title {
  font-size: 2rem;
  margin: 1rem;
  padding: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.navigation-link a {
  padding: .5rem;
  margin: 0 .5rem;
  text-decoration: none;
  color: white;
  border-radius: .5rem;
}

.navigation-link a:not(.active):hover {
  background-color: #444444;
}

.hammenu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

.hammenu span {
  height: 0.4rem;
  width: 100%;
  background-color: #747474;
  border-radius: 0.2rem;
}

@media (max-width: 480px) {
  .hammenu {
    display: flex;
  }
}

.carousel {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.welcometext {
  margin-right: 4rem;
  margin-left: 4rem;
}

.deckcards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.victorybtn{
  margin: 0.5rem;
}

.defeatbtn{
  margin: 0.5rem;
}

.add-field{
  margin-left: 2rem;
  margin-right: 2rem;
}

.inputzone{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.individualcards {
  margin-top: 1rem;
  margin-bottom: 1rem;
  transition: transform 0.3s, box-shadow 0.3s;
}

.individualcards:hover {
  transform: scale(1.05); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.searchresults{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.individualSearchCard{
  margin-bottom: 1rem;
  background-color: #141414;
  transition: transform 0.3s, box-shadow 0.3s;
}

.individualSearchCard:hover {
  transform: scale(1.05); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add-field {
  color: #444444;
}

.randomdiv{
  width: 60%;
  border: 2px solid #747474;
  background-color: #282c34;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.randombtn{
  margin: 0.5rem;
}

.randomcard-div{
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  margin: 1rem;
}

.randomcard{
  color: white;
  border: 0px solid #747474;
}

.accordion{
  text-align: left;
}

.socialtags {
  text-align: left;
  padding: 2rem;
}

.footer {
  background-color: #282c34;
  border-top: 1px solid whitesmoke;
  width: 100%;
  color: white;
  font-size: 1.5rem;
  margin-top: auto; 
}

.footer p{
  color: #747474;
  font-size: 1rem;
}
